<!doctype html>
<html ng-app="MetProc">
<head>
    <title>MetaProcrastinators</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="file.css">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type='text/javascript' src='https://apigee.com/usergrid/sdk/usergrid.0.10.5.js'></script>
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.js'></script>
    <!-- <script type='text/javascript' src='file.js'></script> -->
    <script type='text/javascript' src='https://github.com/farobek/meta-procrastinators/blob/master/app.js'></script>
    <script type='text/javascript' src='https://github.com/farobek/meta-procrastinators/blob/master/Delete.js'></script>
    <script type='text/javascript' src='https://github.com/farobek/meta-procrastinators/blob/master/Edit.js'></script>
    <script type='text/javascript' src='https://github.com/farobek/meta-procrastinators/blob/master/Show.js'></script>
    <script type='text/javascript' src='https://github.com/farobek/meta-procrastinators/blob/master/Add.js'></script>
    <script type='text/javascript' src='https://github.com/farobek/meta-procrastinators/blob/master/ecrud.js'></script>
    <script type='text/javascript' src='https://github.com/farobek/meta-procrastinators/blob/master/datastore.js'></script>
    
</head>
<body>
    <h1>MetaProcrastinators</h1>
    <h2>Store your lists online. No sign-up needed</h2>
      <div id="show" ng-controller="Show">   
          <strong id="signs">Delete and Select Tasks</strong>
          <br></br>
          <ul ng-controller="Delete">
              <li ng-repeat="task in tasks">
                  <button class="btn btn-primary" ng-click="changeit(task.position)">Edit task {{task.position}}</button>
                  <strong id="tasks">{{task.position}} - {{task.description}}</strong>
                  <button class="btn btn-primary" ng-click="delete(task.position)">Delete</button>
                  <br></br>
              </li>
          </ul>
          <strong id="whitevalues"> Task {{tnumber}}</strong>
    </div>
        <div id="add" ng-controller="Add">
        <strong id="signs">Add and Edit Selected Tasks</strong>
            <br></br>
    <input class="form-control" type="text" ng-model="newtask" placeholder="Write your next task here"></input>
    <button class="btn btn-primary" ng-click="addTask(newtask)">Add task</button>
            <br></br>
        </div>
    <div id="edit" ng-controller="Edit">
        <button class="btn btn-primary" ng-click="modify(editedtask,numbertask[0])"> Modify task</button>
        <input type="text" class="form-control" ng-model="editedtask" placeholder="Edit your task here"> <strong id="whitevalues"> Task number: {{numbertask}}</strong>
        </input>
</div>
    <div id="ecrud" ng-controller="eCRUD">
        <strong id="signs">Download and Upload Tasklists</strong>
        <br></br>
        <button class="btn btn-primary" ng-click="pushit()">Upload Tasklist</button>
        <button class="btn btn-primary" ng-click="loadit()">Download Tasklist</button>
        <input type="text" class="form-control" placeholder="Type in your token in quotes here"  ng-model="tokenvalue"></input>
        <button class="btn btn-primary" ng-click="sendtoken(tokenvalue)">Inject your token</button>
        <br></br>
        <strong id="whitevalues">Token: {{tok}}</strong>
        <br></br>
        <strong id="whitevalues">{{result}}</strong>
        <br></br>
    </div>
</body>
</html>
