  h6,h4,h2,h1,p, title{
    font-family: 'Roboto';
    color: grey;
    text-align: center;
  }
  #description1{
    display: none;
    font-family: 'Roboto';
    padding: 10px;
    color: white;
    background: blue;
    border: 5px;
    border-radius: 5px;
  }
  
  #description2{
    display: none;
    font-family: 'Roboto';
    padding: 10px;
    color: white;
    background: blue;
    border: 5px;
    border-radius: 5px;
  }
  
  #description3{
    display: none;
    font-family: 'Roboto';
    padding: 10px;
    color: white;
    background: blue;
    border: 5px;
    border-radius: 5px;
  }
  
   #description4{
    display: none;
    font-family: 'Roboto';
    padding: 10px;
    color: white;
    background: blue;
    border: 5px;
    border-radius: 5px;
  }
  
   #description5{
    display: none;
    font-family: 'Roboto';
    padding: 10px;
    color: white;
    background: blue;
    border: 5px;
    border-radius: 5px;
  }
  
    #description6{
    display: none;
    font-family: 'Roboto';
    padding: 10px;
    color: white;
    background: blue;
    border: 5px;
    border-radius: 5px;
  }
  
  #descriptionmotion{
    display: none;
    font-family: 'Roboto';
    padding: 10px;
    color: white;
    background: blue;
    border: 5px;
    border-radius: 5px;
  }
  
  
  a{
    text-decoration: none;
  }
  
  a:hover{
    color: #DC143C;
  }
  
  
  #project1:hover #description1{
    display: inline;
}

#project2:hover #description2{
    display: inline;
}

#project3:hover #description3{
    display: inline;
}

#project4:hover #description4{
    display: inline;
}

#project5:hover #description5{
    display: inline;
}

#project6:hover #description6{
    display: inline;
}

#motionproject{
  padding-right: 10px;
}

#motionproject:hover #descriptionmotion{
    display: inline;
}


.home_anchor {
  font-family: 'Roboto';
  font-size: 30px;
  text-align: left;
  background: green;
  color: white;
  padding: 30px;
  border: 25px;
  border-radius: 25px; 
  
}

.home_anchor_motion {
  font-family: 'Roboto';
  font-size: 30px;
  text-align: left;
  background: green;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 130px;
  border: 25px;
  border-radius: 25px; 
  
}

