  h6,h4,h2,h1,p, title{
    font-family: 'Roboto';
    color: grey;
    text-align: center;
  }
  #description1{
    display: none;
    font-family: 'Roboto';
    padding: 10px;
    color: white;
    background: blue;
    border: 5px;
    border-radius: 5px;
  }
  
  a{
    text-decoration: none;
  }
  
  a:hover{
    color: #DC143C;
  }
  
  
  #project1:hover #description1{
    display: inline;
}

.home_anchor {
  font-family: 'Roboto';
  font-size: 30px;
  text-align: left;
  background: green;
  color: white;
  padding: 30px;
  border: 25px;
  border-radius: 25px; 
  
}
