  h6,h4,h2,h1,p{
    font-family: 'Roboto';
    color: grey;
    text-align: center;
  }
  span{
    display: none;
    font-family: 'Roboto';
    padding-top: 40px;
    background: black;
    color: white;
  }
  
  a{
    text-decoration: none;
  }
  
  a:hover + .wod{
    display: inline;
}

.project{
  font-family: 'Roboto';
  font-size: 30px;
  text-align: left;
  background: green;
  color: white;
  padding: 30px;
  border: 25px;
  border-radius: 25px; 
  
}
