#bodyid{
    background: #8A2BE2;
    color: white;
}


#maintitle{
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}
#title{
    color: white;
}

.list{
    font-size: 20px;
    background: #290D44;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 10px 10px 5px black;
}

input{
    background: #1C092D;
    font-style: italic;
}
.convo{
    background: #A155E8;
    padding: 10px;
    padding-bottom: 0px;
}
hr{
    margin-top: 0px;
    margin-bottom: 0px;
}

.dbops{
    background: #A155E8;
    padding: 10px;
    padding-top: 10px;
}

.credit{
    text-align: right;
}
 #anchor{
    text-decoration: none;
    color: yellow;
  }
