<!doctype html>
<html ng-app="Semnet">
<head>
    <title>Semnet</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="file.css">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.js'></script>
     <script type='text/javascript' src='Semnet.js'></script>
</head>

<body id="bodyid">
    <span><p class="credit">Made by <a href="http://farobek.github.io/">me</a>.</p><span>
    <h1>Semnet</h1>
    <div class="convo" ng-controller="Conversation">
        <h2>Conversation</h2>
        <div>
            <input type="text" placeholder="Query/Statement goes here" ng-model="userinput"></input>
            <button class="btn btn-primary" ng-click="chooseParser(choice, userinput)">Submit</button>
            <div>
                <input type="radio" ng-model="choice" value="query">Query</input>
                <input type="radio" ng-model="choice" value="statement">Statement</input>
            </div>
            {{response}}
        </div>
    </div>
    <div class="dbops" ng-controller="DBOps">
        <h2>Database Operations</h2>
        <div>
            <input type="text" ng-model="userinput" placeholder="Token goes here"></input>
            <button class="btn btn-primary" ng-click="dbOpsParser(typeitem,typeop, userinput)">Submit</button>
        </div>
        <div>
            <input type="radio" ng-model="typeitem" value="noun">Noun</input>
            <input type="radio" ng-model="typeitem" value="relation">Relation</input>
            <input type="radio" ng-model="typeitem" value="link">Link</input>
        </div>
        <div>
            <input type="radio" ng-model="typeop" value="set">Set</input>
            <input type="radio" ng-model="typeop" value="get">Get</input>
            <input type="radio" ng-model="typeop" value="delete">Delete</input>
        </div>
        {{typeitem}} {{typeop}}
        <br></br>
        {{result}}
        <br></br>
        <p class="list">Nounlist: {{nounlist}}</p>
            <br></br>
        <p class="list">Relationlist: {{relationlist}}</p>
            <br></br>
        <p class="list">Linklist: {{linklist}}</p>
    </div>
</body>
</html>
