<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<div> <a class="mainAnchor" href="#/">Homepage</a> <a class="mainAnchor" href="#/writer">Writer view</a> </div>
		<br />
		<br />

		<div id="upperReaderMenuOuterLayout">
			<span class="upperReaderMenuInnerLayout">{{nodeTitle.title}}</span>
			<div class="upperReaderMenuInnerLayout">{{nodeText.text}}</div>
		</div>

		<div></div>
		<hr></hr>
		<br />
		<span ng-repeat="link in nodeLinks.link">
			<a class="nodeLinkAnchor" ng-click="setNode(link, $index)"> {{$index}} - {{link}}</a>
		</span>
		<p class="lowerReaderMenuOuterLayout">Selected node link: {{selectedNodeTitle.title}}</p>
	</body>
</html>
