@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT);
body{
    background: linear-gradient(#2E8AE6, #D6EBFF);
}
p,h2, span{
    color: white;
    font-family: 'Old Standard TT', serif;
}
.button, .button2{
    font-family: 'Old Standard TT', serif;
    font-size: 15px;
    background-color: #08298A;
    color: white;
    border: none;
    width: 100px;
    border-radius: 2px;
    box-shadow: 0 5px 5px black;
}

.button2{
    background-color: black;
}

.button2:hover{
    background-color: white;
    color: red;
}

.credit{
    position: relative;
    right:-160px;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #58FAF4;
}

.button:hover{
    background-color: #A9D0F5;
}
